.container{
    
    width: 320px;
    height: 44px;
    background: white;
    display: flex;
    justify-content: space-between;
    #menu{
        display: none;
    }
    label{
        .m-close{
            display: none;
        }
    }
    .navheader{
        .ulheader{
            position: absolute;
            margin-top: 50px;
            left: 0px;
            background-color: #0000EC;
            width: 100%;
            height: 260px;
            display: none;
            .liheader{
                margin: 30px 20px;
                list-style: none;
                a{
                    text-decoration: none;
                    color:#FFFFFF;
                    font-family: 'IBM Plex Mono', monospace;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 28px;
                    display: block;
                }
            }
        }
    }
}
.logo{
    margin: 5% 5%;    
}

label{
    margin: 5% 5%;
}
#menu:checked ~ .navheader .ulheader{
    display: block;
}
#menu:checked ~ .navheader ~ label .m-open{
    display: none;
}
#menu:checked ~ .navheader ~ label .m-close{
    display: block;
}

@media(min-width: 1024px){
    .container{
        label{
            .m-open{
                display: none;
            }
        }
        .logo{
            margin: 16px 40px;
        }
        .navheader{
            .ulheader{
                display: block;
                background-color: transparent;
                display: flex;
                justify-content: flex-end;
                margin: 0px -50px;
                .liheader{
                    a{
                        font-size: 16px;
                        color: black;
                        &:hover{
                            color: #00f3bb;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
        
    }
}